.code-mirror-builder{
    display: flex;
    padding: 5px 5px 5px 5px;
}

.selection-builder{
    display: block;
}

#submit-builder{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

#btn-submit-builder:hover {
    border-color: #007bff;
}

#btn-submit-builder {
    width: 100%;
    font-weight: Bold;
    border: 1px solid #2A2A2A;
}