.Content {
  width: calc(100% - 70px);
  height: 100%;
  min-height: 100%;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.Content.Expanded {
  width: calc(100% - 390px);

}
