:root {
    /* Light Mode */
    --light-text: #222430;
    --light-bg: #ffffff;
    --light-theme: #d34a97;
    --light-navbar: #343a40;
    --light-sidebar: #747474;


  /* Dark mode */
    --dark-text: #222430;
    --dark-bg: #222430;
    --dark-theme: #bd93f9;
    --dark-navbar: #ffffff;
    --dark-sidebar: #747474;
    
    /* Default mode */
    --text-color: var(--light-text);
    --bg-color: var(--light-bg);
    --theme-color: var(--light-theme);
    --navbar-color: var(--light-navbar);
    --sidebar-color: var(--light-sidebar);
}

#default-theme:checked ~ .wrapper {
    --text-color: var(--light-text);
    --bg-color: var(--light-bg);
    --theme-color: var(--light-theme);
    --navbar-color: var(--light-navbar);
    --sidebar-color: var(--light-sidebar);

}

#dark-theme:checked ~ .wrapper {
    --text-color: var(--dark-text);
    --bg-color: var(--dark-bg);
    --theme-color: var(--dark-theme);
    --navbar-color: var(--dark-navbar);
    --sidebar-color: var(--dark-sidebar);

}

.theme-switch {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

body {
    font-family: 'Poppins', sans-serif;
    padding-top: 90px;
}

@media (min-width: 768px) {
    body {
        padding-top:0
    }
}

@media (min-width: 768px) {
    body {
        margin-left:80px
    }
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);
}

#navbar {
    width: 70px;
    background-color: var(--navbar-color);
}
#sidebar {
    width: 320px;
    position: fixed;
    top: 0;
    left: 70px;
    height: 100vh;
    z-index: 999;
    background-color: var(--sidebar-color);
    color: #fff;
    transition: all 0.3s;
    margin-left: -320px;
}
#sidebar.active {
    margin-left: 0px;
}

/*
#sidebar {
    width: 0;
    position: fixed;
    top: 0;
    left: 70px;
    height: 100vh;
    background-color: var(--sidebar-color);
    color: #fff;
    transition: all 0.3s;
}
#sidebar.active {
    width: 320px;
}
*/

a[data-toggle="collapse"] {
    position: relative;
}

.sidebar {
    padding: 1.2rem;
    color: #EAEAEA;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 70px);
    padding: 1rem;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}
/*
#sidebar.active~#content{
    width: calc(100% - 390px);
}
*/

#content.active {
    width: calc(100% - 390px);
    
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -320px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 320px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

.btn-link {
    color: gray !important;
}

.card.fullscreen {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1040;
}

.card.fullscreen .chart-area {
    height: calc(100% - 94px - 35px)
}
.card-header {
    border-bottom: 1px solid rgba(0,0,0,.125);    
}

.card-title {
    margin: 0.5rem 0;
}

[aria-expanded="true"] .fa:before {   
    content: "\f077";
}

[aria-expanded="false"] .fa:before {
    content: "\f078";
}


.card-body.card-body-graph {
    height: 450px;
    padding: 0;
}

.graph-card-nav {
    text-align: center;
    width: 70px;
    height: 100%;
    border-right: 1px solid rgba(0,0,0,.125);    
}

.graph-card-nav-item.active {
    background-color: #EAEAEA;
}

.nav-pills .nav-link.active {
    color: gray;
    background-color: #F6F6F6;
    font-weight: bold;
}

a.nav-link {
    color: gray;
    padding: 0.8rem 0.5rem;
}

.graph-card-content {
    overflow: auto;
}

.alert {
    margin-bottom: 0px;
}

.chart-frame-area {
    width:100%;
    height:100%;

}
.chart-area {
    height: 317px;
    width: 100%;
    display: 'block';
    overflow:hidden;
}

.chart-footer-area {
    vertical-align: middle;
    line-height: 37px;       
    min-height: 37px;
    width: 100%;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
}


.frame-head-button:hover {
    color: #212121 !important;
}

.graph-tabpanel {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.nodeLegend, .edgeLegend {
    height: 47px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.nodeLabel, .edgeLabel {
    cursor: pointer;
}

.colorSelector {
    width: 15px; 
    height: 15px; 
    padding: 6px 0px; 
    border-radius: 15px; 
    font-size: 8px; 
    text-align: center; 
    margin-left: 5px;
    opacity: 0.2; 
}

.captionSelector {
    padding: .1rem .2rem;
    font-size: .575rem;
    line-height: 1.5;
    border-radius: .2rem;
    margin-left: 5px;
    border-color: darkgrey;
    opacity: 0.5; 
}

.sizeSelector.node {
    background-color: darkgrey;
    padding: 6px 0px; 
    border-radius: 15px; 
    font-size: 8px; 
    text-align: center; 
    margin-left: 5px;
    opacity: 0.2; 
}

.sizeSelector.edge {
    background-color: darkgrey;
    padding: 6px 0px; 
    font-size: 8px; 
    text-align: center; 
    margin-left: 5px;
    opacity: 0.2; 
}

.sizeSelector:hover {
    opacity: 1; 
}

.sizeSelector.selectedSize {
    opacity: 1; 
}

.colorSelector:hover {
    opacity: 1; 
}

.colorSelector.selectedColor {
    opacity: 1; 
}

.captionSelector.selectedCaption {
    opacity: 1; 
}




/* ---------------------------------------------------
    Cytoscapejs-cxtmenu
----------------------------------------------------- */
.cxtmenu-content {
    font-size: 10px;
}