.navbar.fixed-left {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
    font-size: 1.5rem;
    height: 100vh;
}

@media (min-width: 768px) {
    .navbar.fixed-left {
        bottom:0;
        flex-flow: column nowrap;
        align-items: flex-start
    }

    .navbar.fixed-left .navbar-collapse {
        flex-grow: 0;
        flex-direction: column;
        width: 100%
    }

    .navbar.fixed-left .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%
    }

    .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item {
        width: 100%
    }

    .navbar.fixed-left .navbar-collapse .navbar-nav li.nav-item:nth-last-child(2) {
        width: 100%;
        position: absolute;
        bottom: 72px;
    }

    .navbar.fixed-left .navbar-collapse .navbar-nav li.nav-item:nth-last-child(1) {
        width: 100%;
        position: absolute;
        bottom: 10px;
    }

    .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
        top: 0
    }
}

@media (min-width: 768px) {
    .navbar.fixed-left {
        right:auto
    }

    .navbar.fixed-left .navbar-nav .nav-item .dropdown-toggle:after {
        border-top: .3em solid transparent;
        border-left: .3em solid;
        border-bottom: .3em solid transparent;
        border-right: none;
        vertical-align: baseline
    }

    .navbar.fixed-left .navbar-nav .nav-item .dropdown-menu {
        left: 100%
    }
}
