
.ModalContainer {
    display: flex;
}

.Modal {
    margin: 20px;
}

#modalBody {
    justify-content: center;
    align-items: center;
}

#modalHeader {
    text-align: center;
    justify-content: center;
}

#modalRow {
    padding: 1%;
    justify-content: space-between;
}

#modalCol {

    justify-content: space-between;
    align-items: center;
    align-content: center;
}

#removeFile:hover {
    cursor: pointer;
    opacity: -20%;
}
#removeFile{
    color: red;
}