
.ModalContainer {
    display: flex;
}

.Modal {
    margin: 20px;
}

#modalBody {
    justify-content: center;
    align-items: center;
}

#modalHeader {
    text-align: center;
    justify-content: center;
}

.modalRow {
    display: flex;
    padding: 1%;
    justify-content: space-around;
}

#modalCol {
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

#removeFile:hover {
    cursor: pointer;
    opacity: 30%;
}
#removeFile{
    color: red;
}

#graphNameInputRow{
    justify-content: space-around;
    margin: 4px 0 4px 0;
}
#graphNameInput{
    padding: 5px;
    margin: 2px;
}

.readyFiles{
    display: block;
}

.fileCol{
    margin: auto;
}